.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height:500px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(images/header.jpg);
    margin-top: -20px;
}

#profile-picture{
    width: 100px;
    border-radius: 100%;
    border: 1px solid  white;
    margin-top: -50px;
}

#text-head{
    font-style: "Roboto Slab";
    font-weight: normal;
    text-align: center;
    max-width: 780px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;

}

#content{
    display: block;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 0, 0);
    margin-top: -200px;
}

#name{
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
    color: rgb(51,51,51);
    line-height: 24px;
    text-align: center;
}

#last-updated{
    line-height: 24px;
    font-style: italic;
    font-size: 18px;
    color: rgb(51,51,51);
    text-align: center;
    text-decoration: solid underline #e6e6e6 2px;
    margin-bottom: 60px;
}

h2{
    text-align: left;
    font-family: "Roboto Slab";
    font-size: 36px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    width: 66.67%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-left: 16.67%;
    position: relative;
}

.number{
    position: absolute;
    color: rgba(0, 0, 0, 0.25);
    text-align: left;
    font-family: "Roboto Slab";
    font-size: 36px;
    font-weight: bold;
    width: calc(16.67% - 40px);
    text-align: right;
}

#list{
    margin-left: auto;
    margin-right: auto;
    width: 66.67%;
}

#address{
    font-family: "Roboto Slab";
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 32px;
    color: rgb(51,51,51);
}

.image{
    width: 100%;
    margin-bottom: 120px;
}

.content{
    font-family: "Source Sans Pro";
    font-size: 18px;
    color:rgb(51, 51, 51);
    margin-bottom: 20px;
}

